<header class="header">
  <div class="container">
  <nav class="navbar navbar-expand-lg py-6">
      <a class="navbar-brand" href="#">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/logo.svg" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px" fill="#5f6368">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link active me-4 me-lg-8" aria-current="page" href="#"><span class="fs-5 fs-lg-6">首頁</span></a>
          </li>
          <li class="nav-item me-4 me-lg-8">
            <a class="nav-link" href="#"><span class="fs-5 fs-lg-6">作品集</span></a>
          </li>
          <li class="nav-item me-4 me-lg-8">
            <a class="nav-link" href="#"><span class=" fs-5 fs-lg-6">服務項目</span></a>
          </li>
          <li class="nav-item me-4 me-lg-8">
            <a class="nav-link" href="#"><span class="fs-5 fs-lg-6 ">部落格</span></a>
          </li>
          <li class="nav-item me-4 me-lg-8">
            <a class="nav-link" href="#"><span class="fs-5 fs-lg-6 ">聯絡我</a>
          </li>
        </ul>
      </div>
  </nav>
</div>
</header>